@use '../helpers/animations';
$radius: 0.5em;
.main {
  background-color: #5771d8;
  background-image: url('../images/pattern-bg.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 150px;
  h1 {
    color: var(--clr-f-white);
    font-size: 1.75em;
    margin-bottom: 1em;
    padding-top: 1em;
  }
}
.field {
  margin-bottom: 1.5em;
  border-radius: $radius;
  overflow: hidden;
  @include flex(null, stretch);
  input {
    width: 100%;
    padding: 1em;
    font-size: 1rem;
    outline: none;
    border: none;
  }
  button {
    min-width: 3.5em;
    background-color: #000;
    i {
      color: #fff;
    }
  }
}
.card {
  z-index: 2;
  margin-top: -150px;
  ul {
    background-color: var(--clr--white);
    padding: 1.5em;
    border-radius: $radius;
  }
  li:not(:last-child) {
    margin-bottom: 1.5rem;
  }
  small {
    display: block;
    font-weight: $fw-regular;
    font-size: 0.75rem;
    margin-bottom: 0.25rem;
    text-transform: uppercase;
  }
  span {
    font-weight: $fw-medium;
    font-size: 1.25rem;
    text-transform: capitalize;
  }
}
.map {
  background: var(--clr--bg-alt);
  min-height: 100vh;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: -1;
}

.skeleton {
  animation: skeleton-loading 1s linear alternate infinite;
  &.skeleton-text {
    height: 10px;
    width: 100%;
    margin-bottom: 5px;
    margin-inline: auto;
    border-radius: $radius;
    &:last-child {
      margin-bottom: 0;
      width: 80%;
    }
  }
  &.hide {
    display: none;
  }
}
